.Goodbye-header{
  background-image: url("../assets/ff5d0cd4bc7d06758a21e1b238311bbc2.jpg");
  background-size: 100% 99%;
  background-position: center;
  min-height: 110vh; 
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-around; 
  font-size: calc(10px + 2vmin);
  color: rgb(8, 10, 8);
}
.textGoodbye{
    direction: rtl;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(255,105,180);
    -webkit-text-stroke: 2px black;
    margin-top: 10%;
    margin-right: 35%;
    text-shadow: 2px 2px 5px black;
    font-family: 'MV Boli';
}
.SubmitGoodbye{
    position: absolute;
    top: 50%;
    right: 52%;
    background-color: rgb(255,105,180,0.8);
    color: black;
    font-size: 24px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid black;
}
.SubmitGoodbye:hover{
    background-color: rgba(226, 189, 226, 0.8);
    color: rgb(255,105,180);
}