.signup-header{
  background-image: url("../assets/beautiful-little-boy-sitting-by-window.jpg");
  background-size: 100% 99%;
  background-position: center;
  min-height: 110vh; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 10, 8);
}
#signup-form{
  font-size: 24px;
  color: midnightblue;
  border: 1px solid black;
  direction: rtl;
  width: 390px;
  height: 150px;
  padding: 20px 30px 0px 0px;
  margin-top: 200px;
  background-color: rgb(126, 120, 120,0.3);
  border-radius: 15px;
  float: right;
}
.SubmitSignupSave{
    position: absolute;
    top: 39%;
    right: 54%;
    background-color: rgba(141, 129, 206, 0.8);
    color: white;
    font-size: 22px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px 20px;
    border: none;
}
.SubmitSignupSave:hover{
    background-color: rgb(84, 71, 155, 0.8);
    color: white;
}


